/*seletor universal inicio*/
* {
    margin: 0;
    padding: 0;
    /*font-size: 13px;*/
    font-family: 'Nunito', sans-serif;
}

/*seletor universal fim*/

/*************************/
/*seletor de tags inicio*/


body {
    background-color: rgb(255, 255, 255);
}

header {
    color: rgb(165, 185, 51);
    margin-bottom: 100px;
}

nav {
    
}


h1, h2, h3 {
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    margin: 50px;
}

h1 {
    color: black;
    margin-bottom: 100px;
    font-size: 50px;
}

span {
    background-color: #1c7a5e;    
}
    


p {
    color: rgb(0, 0, 0) ;
    text-align: justify;
    line-height: 25px;
}
/*seletor de tags fim*/
/***************************/
/*seletor de classes inicio*/
.menu_principal {
    list-style: none;
    background-color: #1c7a5b;   
    text-transform: uppercase;     
}

.menu_principal a {
    text-decoration: none;
    font-style: normal;
    color: rgb(0, 0, 0);

}

.menu_principal li {
    display: inline-block;
    margin-right: 20px;
    height: 100%;
    padding: 13px;
    background-color: #1c7a5b;
}

.menu_principal li:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    color: black;
}

.div_principal {
    display: grid ;
    grid-template-areas: "aside main";
    text-align: justify;
    line-height: 25px;
    border: 5px outset red;
    }

.div_principal a{
    text-decoration: none;
    font-style: normal;
    color: rgb(0, 0, 0);
}

.div_principal a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
}


.aside_principal{
    grid-area: aside;
    background-color: #1c7a5e;   
    padding-left: 20px;
    padding-right: 20px;
    border: 5px outset blue;
    width: 70%;
    float: left;
}

.main_principal {
    grid-area: main;
    background-color: #1c7a5e;
    padding-right: 20px;
    padding-left: 20px;
    border: 5px outset yellow;
    width: 89.5%;
    float: left;
}

.dados-pessoais {
    color:rgb(0, 0, 0);
    text-align: left;
}

.habilidades-infra {
    color: rgb(0, 0, 0);
}

.habilidades-dev {
    color: rgb(0, 0, 0);
}

.soft-skills {
    color: rgb(0, 0, 0);
}

.ul-habilidades {
    margin-left: -33px;
}

.footer {
    background-color: grey;
    padding: 35px 20px;
}

.footer a {
    text-decoration: none;
}

.footer1 {
    
}
/*seletor de classes fim*/

/*seletor de ID inicio*/
/*seletor de ID fim*/






