/*seletor universal inicio*/
* {
    /*margin: 0;
    padding: 0;
    font-size: 13px;*/
    font-family: 'Nunito', sans-serif;
    
    
}

/*seletor universal fim*/

/*************************/
/*seletor de tags inicio*/


body {
    background-image: url("../img/17828.jpg");
    margin: 100px;
}

header {
    color: rgb(165, 185, 51);
}


h1, h2, h3 {
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}


p {
    color: rgb(0, 0, 0) ;
    text-align: justify;
    line-height: 25px;
}
/*seletor de tags fim*/
/***************************/
/*seletor de classes inicio*/
.menu_principal {
    list-style: none;
    background-color: #1c7a5b;   
    text-transform: uppercase;     
}

.menu_principal a {
text-decoration: none;
font-style: normal;
color: rgb(0, 0, 0);

}

.menu_principal li {
display: inline-block;
margin-right: 20px;
height: 100%;
padding: 13px;
background-color: #1c7a5b;
}

.menu_principal li:hover{
background-color: rgb(255, 255, 255);
cursor: pointer;
color: black;
}

.div_principal {
display: grid ;
grid-template-areas: "aside main";
text-align: justify;
line-height: 25px;
}

.div_principal a{
    text-decoration: none;
    font-style: normal;
    color: rgb(0, 0, 0);
}

.div_principal a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
}


.aside_principal{
grid-area: aside;
background-color: #1c7a5e;   
padding-left: 20px;
padding-right: 20px;

}

.main_principal {
grid-area: main;
background-color: #1c7a5e;
padding-right: 20px;
padding-left: 20px;
}

.dados-pessoais {
    color:rgb(0, 0, 0);
}

.habilidades-infra {
    color: rgb(0, 0, 0);
}

.habilidades-dev {
    color: rgb(0, 0, 0);
}

.soft-skills {
    color: rgb(0, 0, 0);
}

.ul-habilidades {
    margin-left: -33px;
}
/*seletor de classes fim*/

/*seletor de ID inicio*/
/*seletor de ID fim*/






